.footer__column-link {
   display: flex;
   align-items: center;
   justify-content: start;
   text-decoration: none;
   color: white;
   font-size: 18px;
   font-weight: normal;
   line-height: 30px;
   transition: 200ms ease;
 }
 
 .footer__column-link:hover {
   color: rgba(255, 255, 255, 0.719);
 }