.page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  color:  #000000;
}

.content {
  margin: 0 auto;
  flex: 1 0 auto;
}

.header {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  display: flex;
  align-items: center;
  background-color: #f2f2f2;
  margin-bottom: 100px;
}

.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
}

.logo {
  width: 228px;
}

.header__title {
  margin: 0;
  margin-left: 64px;
  z-index: 10;
  position: relative;
  max-width: 730px;
  line-height: 96px;
  font-size: 102px;
  font-weight: 600;
}

.header__subtitle {
  margin: 0;
  display: inline-block;
  position: absolute;
  left: 64px;
  bottom: 30px;
  max-width: 388px;
  z-index: 10;
  font-size: 18px;
  font-weight: normal;
  line-height: 25px;
}

.header__link {
  display: inline-block;
  text-decoration: none;
  color:  #2f80ed;
  
}

.header__main-illustration {
  position: absolute;
  object-fit: contain;
  right: 0;
  bottom: 0;
  z-index: 9;
  width: 765px;
}

.header__square-pic {
  width: 568px;
  height: 568px;
  background-color:  #2f80ed;
  position: absolute;
  right: 0;
  top: 64px;
  z-index: 5;
}

.two-columns {
  display: flex;
  margin: auto;
  justify-content: space-between;
  width: 80%;
}

.two-columns__brief {
  width: 175px;
  margin: 0;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.2;
  color: #2f80ed;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
}

.two-columns__paragraph {
  font-size: 24px;
  font-weight: normal;
  line-height: 34px;
  margin: 0;
}

.two-columns__paragraph:nth-child(even) {
  margin: 30px 0;
}

.two-columns__paragraph:last-child {
  margin-bottom: 0;
}

.two-columns__span-accent {
  font-size: 24px;
  font-weight: 600;
  line-height: 34px;
}

.digits {
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
  margin: auto;
  padding: 100px 0;
}

.section-title {
  margin: 0 auto 20px auto;
  font-size: 60px;
  font-weight: 600;
  line-height: 1.15;
  position: relative;
  z-index: 10;
}

.section-subtitle {
  margin: 0 auto;
  font-size: 24px;
  font-weight: normal;
  line-height: 34px;
  position: relative;
  z-index: 10;
}

.table {
  width: 1100px;
  height: auto;
  display: flex;
  margin: auto;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-between;
  position: relative;
  z-index: 10;
}

.table__cell {
  margin-top: 60px;
  width: 250px;
  height: auto;
  text-align: left;
}

.table__heading {
  margin: 0;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.15;
}

.table__text {
  margin: 20px 0 0 0;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.2;
}

.feynman {
  position: relative;
  width: 100%;
  min-height: 890px;
  margin: auto;
  text-align: center;
  background-color: #f2f2f2;
}

.feynman__title {
  display: block;
  margin: 0 auto;
  padding-top: 100px;
  text-align: center;
  width: 648px;
  margin-bottom: 70px;
  z-index: 10;
  position: relative;
  font-size: 120px;
  font-weight: 600;
  line-height: 1.15;
  }

.feynman__subtitle {
  margin: 0;
  position: relative;
  font-size: 36px;
  font-weight: normal;
  line-height: 51px;
  z-index: 10;
}

.feynman__link {
  position: absolute;
  right: 48px;
  top: 50%;
  font-size: 36px;
  font-weight: normal;
  line-height: 51px;
  color: #2f80ed;
  text-decoration: none;
  z-index: 10;
}

.feynman__img {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 2;
  width: 867px;
  height: 637px;
}

.kaufman {
  padding: 90px 0;
  position: relative;
  overflow: hidden;
  text-align: center;
  background-color: #1f1f1f;

}

.kaufman__triangle {
  position: absolute;
  background-image: url(../images/kaufman-triangle.svg);
  background-size: contain;
  right: -210px;
  top: 0;
  z-index: 1;
  width: 877px;
  height: 877px;
}

.section-title_theme_dark {
  width: 60%;
  color: white;
}

.section-subtitle_theme_dark {
  width: 60%;
  color: white;
}

.table__cell_theme_dark {
  width: 200px;
  color: white;
}

.table__heading_theme_dark {
  color: white;
}

.table__text_theme_dark {
  color: white;
}

.footer {
  min-height: 350px;
  background-color: #1f1f1f;
}

.footer__columns {
  width: 90%;
  min-height: 250px;
  margin: 60px auto 40px auto;
  display: flex;
  justify-content: space-between;
}

.footer__column {
  display: flex;
  flex-direction: column;
}

.footer__column_content_copyright {
  justify-content: space-between;
  flex-basis: 711px;
}

.footer__author {
  font-size: 18px;
  font-weight: normal;
  line-height: 25px;
  margin: 18px 0;
  color: white;
}

.footer__column_content_info {
  justify-content: start;
  align-items: start;
}

.footer__column_content_social {
  justify-content: start;
  align-items: start;
}

.footer__column-link {
  display: flex;
  align-items: center;
  justify-content: start;
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-weight: normal;
  line-height: 30px;
}

.footer__column-heading {
  font-size: 18px;
  font-weight: 600;
  line-height: 30px;
  margin: 0;
  color: white;
}

.footer__column-links {
  margin: 20px 0 16px 0;
  padding: 0;
  list-style: none;
  color: white;
  font-size: 18px;
  font-weight: normal;
  line-height: 30px;
}



.footer__social-icon {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}

.logo_place_footer {
  display: block;
}
